@use '../abstracts/' as *;

.checkout{
    background-color: $bodyBg;
    min-height: 100vh;
    padding-top: 15vh;
    @include mobile{
        padding-inline: 10px;
        padding-top: 10vh;
    }
    &-title{
        font-weight: 500;
        color: $black;
        font-size: 2rem;
        line-height: 2rem;
        margin: 0;
        padding: 0;
        @include mobile{
            font-size: 1.5rem;
        }
    }
}