@use '../abstracts/' as *;

.ReactModalPortal{
    z-index: 100000 !important;
    position: relative;
}

.property{
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    &-desktop{
        @include mobile{
            display: none;
        }
    }
    h2{
        font-weight: 500;
    }
    &::-webkit-scrollbar{
        display: none;
    }

    &-gallery{
        &-slider{
            border-radius: 10px;
            overflow: hidden;
            margin-top: 20px;
            .view-more{
                position: relative;
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: calc(100% - 20px);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-size: 1.2rem;
                    cursor: pointer;
                    background-color: #00000030;
                }
            }
            .ant-image-mask{
                height: auto;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            &-slide{
                border-radius: 10px;
                width:  100% !important;
                object-fit: cover;
                padding-top: 100%;
                position: relative;
                img{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    border-radius: 10px;
                }
                &-small{
                    border-radius: 10px;
                    position: relative;
                    object-fit: cover;
                    width: 170px !important;
                    height: 170px !important;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
            &-slides{
                z-index: 2;
                background-color: #ffffff;
                
            }
            &-thumbs{
                z-index: 1;
                &-container{
                    padding: 0% 0% 0% 0% !important;
                    margin-left: -180px;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 100px;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background-image: linear-gradient(to left, #ffffff, #fffffff0, #ffffff90, #00000000);
                    }
                }
                padding: 0;
            }
            .slick-list{padding:0 20% 0 0 !important;}
            .slick-prev{
                position: absolute;
                left: unset;
                top: 200px;
                right: 130px;
                height: 30px;
                display: flex;
                align-items: center;
                width: 60px;
                display: block;
                background-color: #ffffff;
                transition: all 0.3s ease-in-out;
                img{
                    transform: rotate(180deg);
                    filter: brightness(0.5) saturate(0);
                    transition: all 0.3s ease-in-out;
                }
                &:hover{
                    background-color: #ffffff;
                    img{
                        filter: brightness(0.5) saturate(1);
                        transform: rotate(180deg) translateX(10px);
                    }
                }
                &::before{
                    content: "";
                    display: none;
                }
            }
            .slick-next{
                position: absolute;
                left: unset;
                top: 200px;
                right: 50px;
                height: 30px;
                display: flex;
                align-items: center;
                width: 60px;
                display: block;
                background-color: #ffffff;
                &:hover{
                    background-color: #ffffff;
                    img{
                        filter: brightness(0.8) saturate(1);
                        transform: translateX(10px);
                    }
                }img{
                    filter: brightness(0.8) saturate(0);
                    transition: all 0.3s ease-in-out;
                }
                &::before{
                    content: "";
                    display: none;
                }
            }
        }
        &-link{
            font-size: 16px;
            padding-left: 10px;
            margin-top: 5px;
            text-decoration: underline;
            cursor: pointer;
        }
        &-main{
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 10px;
            object-fit: cover;
        }
        &-sides{
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 10px;
            object-fit: cover;
            .nomar{
                margin-bottom: 0 !important;
            }
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }

    &-banner{
        padding-block: 15vh 10vh;
        position: relative;
        color: $black;
        margin-bottom: 5vh;
        @include mobile{
            margin-top: 9vh;
            padding: 20px;
            height: 30vh;
        }
        &-image{
            @include mobile{
                display: none;
            }
            img{
                border-radius: 20px;
            }
        }
        h1{
            font-weight: 500;
            color: $white;
            font-size: 3rem;
            line-height: 3rem;
            margin: 0;
            padding: 0;
            @include mobile{
                font-size: 1.2rem;
            }
        }
        p{
            font-weight: 400;
            font-size: 1rem;
            color: $white;
        }
        &-background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            span{
                width: 100% !important;
            }
            .image{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .overlay{
                // background-image: linear-gradient(#ffffff00, #ffffff90, #ffffff);
                background-color: #000000B0;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @include mobile{
                    background-image: linear-gradient(#ffffff, #ffffff90, #ffffff00);
                }
            }
        }
        .container{
            z-index: 0;
            position: relative;
        }
    }
    &-rooms{
        width: 100%;
        padding: 20px;
        background-color: $white;
        margin-block: 20px 100px;
        border-radius: 10px;
        &-room{
            padding: 20px;
            border: 2px solid $primary;
            margin-block: 10px;
            border-radius: 20px;
            box-shadow: 0px 0px 25px #33333310;
            &-amenities{
                font-size: 0.8rem;
                display: grid;
                grid-template-columns: 33% 34% 33%;
            }
            .slick-prev {
                left: 10px;
                z-index: 5;
            }
            .slick-next {
                right: 10px;
            }
            &:last-child{
                border: 2px solid $primary;
            }
            h3{
                font-weight: 500;
                span{
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
            .image{
                span{width: 100% !important;}
                img{
                    border-radius: 10px;
                    max-height: 140px !important;
                    object-fit: cover;
                    min-width: 100%;
                }
            }
            .price-box{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .price{
                    font-size: 1rem;
                    .highlight{
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &-amenities{
        padding-block: 50px 60px;
        .amenities{
            margin-top: 20px;
            display: grid;
            row-gap: 20px;
            column-gap: 10px;
            grid-template-columns: auto auto auto auto;
            span{
                display: flex;
                align-items: center;
            }
            img{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
    &-enquire{
        min-width: 500px;
        padding: 20px;
        position: relative;
        @include mobile{
            min-width: 80vw;
            width: 80vw;
        }
        h2{
            font-weight: 500;
            width: 100%;
            text-align: center;
        }
        &-close{
            position: absolute;
            font-size: 2rem;
            top: 0px;
            right: 0px;
        }
    }
}

.property-mobile{
    display: none;
    @include mobile{
        display: block;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 500;
        margin-block: 20px;
        width: 100%;
        text-align: center;
    }
    &-banner{
        margin-top: 9vh;
        margin-bottom: 2vh;
        &-image{
            position: relative;
            .image{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .overlay{
                background-image: linear-gradient(#ffffff, #ffffff90, #ffffff00, #ffffff00);
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &-rating{
        font-size: 1rem;
        opacity: 0.7;
        span{
            text-decoration: underline;
        }
    }
    &-details{
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
    &-video{
        margin-top: 20px;
        img{
            border-radius: 10px;
        }
    }
    &-gallery{
        margin-top: 1rem;
        &-slider{
            margin-right: -50px;
            .slick-slide{
                transform: scale(1) translateX(20px);
            }
            &-slide{
                border-radius: 10px;
                position: relative;
                object-fit: cover;
                width: 200px !important;
                height: 200px !important;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
    &-amenities{
        &-grid{
            display: grid;
            grid-template-columns: 50% 50%;
            &.room{
                margin-block: 10px;
                grid-template-columns: 33% 34% 33%;
                span{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 15px;
                    font-size: 0.8rem;
                    text-align: center;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            span{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 15px;
                font-size: 1rem;
                img{
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }
}

.booking{
    &-form{
        width: 100%;
        box-shadow: 0px 5px 35px 5px #1b1b2730;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        &-price{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            span{
                font-size: 1rem;
                &.highlight{
                    color: $primary;
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin-right: 5px;
                }
            }
        }
        &-calendar{
            width: 100%;
            border: 1px solid #33333350;
            border-radius: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-date{
                width: 100%;
                border: none;
                height: 40px;
                padding: 5px;
                font-size: 0.9rem;
                display: flex;
                text-align: center;
                background-color: transparent;
                outline: none;
                cursor: pointer;
            }
        }
        &-guests{
            width: 30%;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #33333350;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            padding-inline: 10px;
            input{
                width: 40%;
                outline: none;
                border: none;
                height: 100%;
            }
        }
    }
}