@use '../abstracts/' as *;

.banner{
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 100vw;
    width: 100%;
    padding-block: 10vh;
    justify-content: stretch;
    height: 80vh;
    background-color: $white;
    @include mobile{
        height: 90vh;
        padding-block: 15vh 5vh;
    }
    &-left{
        z-index: 1;
        padding-left: 15%;
        height: 45vh;
        @include mobile{
            padding-left: 20px;
        }
        &-container{
            z-index: 1;
        }
        &-text{
            h2{
                color: $white;
                font-size: 2.5rem;
                text-transform: uppercase;
                transition: all 1s ease-in;
            }
            p{
                font-size: 1rem;
                color: $white;
                span{
                    cursor: pointer;
                }
            }
        }
        &-cta{
            color: $white;
            margin-bottom: 25px;
            @include mobile{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            p{
                @include mobile{
                    display: none;
                }
            }
            button{
                margin-top: 10px;
            }
        }
    }
    &-background{
        width: 100%;
        height: 100%;
        // object-fit: cover;
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.3s ease-in-out;
        &-overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: linear-gradient(to right, #1E1E1EA0, #00000070, #000000C0 );
            opacity: 1;
            top: 0;
            left: 0;
            z-index: 10;
        }
        &-image{
            width: 100% !important;
            height: 100% !important;
            // object-fit: cover;
            background-position: 50% 50%;
            position: relative;
            z-index: 5;
            transition: background-image 1s ease-in-out;
            background-repeat: no-repeat;
            background-size: cover;
            @include mobile{
                background-size: cover;
            }
        }
    }
    &-slider{
        padding-left: 50px;
        width: 100%;
        z-index: 11;
        @include mobile{
            height: 5vh;
            overflow: hidden;
            padding-left: 20px;
        }
        &-container{
            z-index: 2;
        }
        &-arrow{
            width: 100px;
            height: 30px;
            position: absolute;
            bottom: 35px;
            cursor: pointer;
            display: flex;
            align-items: center;
            overflow: hidden;
            transition: all 0.3s ease;
            @include mobile{
                top: 0;
                left: 0;
                bottom: unset;
            }
            &:hover{
                transform: scale(1.1);
            }
            .progress{
                background-color: #ffffff;
                position: absolute;
                right: 0;
                z-index: 10;
                height: 3px;
                transition: all 0.3s ease;
                @include keyframes(arrowProgress){
                    0%{
                        transform: translateX(-100px);
                        opacity: 1;
                    }
                    100%{
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
                @include animate(arrowProgress, 6.5s, ease-in-out, 1);
                background-color: $red;
                width: 100px;
            }
            img{
                width: 100px;
                height: 30px;
                z-index: 5;
            }
            &.next{
                img{
                    transform: rotate(180deg);
                }
                z-index: 2;
                left: -200px;
                @include mobile{
                    right: 0;
                    left: unset;
                }
            }
            &.prev{
                z-index: 2;
                left: -330px;
                @include mobile{
                    left: 0;
                }
            }
        }
        .slick{
            &-list{
                margin-left: -100px;
                padding-left: 20px;
                margin-right: -100px;
            }
            &-track{
                margin-left: 0px !important;
                display: flex;
            }
            &-slide{
                transition: all 0.5s ease-in;
                transform: scale(0.85) translateX(20px);
                .banner-slider-slide{
                    box-shadow: none;
                }
                &.slick-active, .slick-cloned{
                    transform: scale(0.85) translateX(20px);
                    transition: all 0.2s ease-in;
                    opacity: 1;
                    .banner-slider-slide{
                        box-shadow: 0px 0px 40px #64646460;
                    }
                }
            }
            &-current{
                transform: scale(1) translateX(0px) !important;
                transition: all 0.2s ease-in;
                margin-left: 40px;
                opacity: 1;
                .banner-slider-slide{
                    box-shadow: 0px 0px 40px #64646460;
                }
            }
        }
        &-slide{
            height: 45vh;
            max-width: 18vw;
            border-radius: 25px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile{
                height: 0vh;
            }
            &-background{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &-overlay{
                height: 100%;
                width: 100%;
                position: absolute;
                background-image: linear-gradient(130deg, #202020D0, #16161610);
                top: 0;
                left: 0;
            }
            &-content{
                position: absolute;
                z-index: 10;
                padding: 25px;
                h3,h4{
                    color: $white;
                }
                h3{
                    text-transform: uppercase;
                    font-weight: 500;
                }
                h4{
                    font-weight: 400;
                }
            }
        }
        &-dots{
            z-index: 10;
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            &::after{
                height: 100%;
                width: 2px;
                background-color: $white;
                position:absolute;
                top: 0;
                content: "";
                left: 0;
                right: 0;
                margin: auto;
                z-index: -1;
            }
            li{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $white;
                border: 2px solid $white;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &.active{
                    background-color: $red;
                }
                &:hover{
                    transform: scale(2);
                }
            }
        }
    }
    &-mobile{
        &-loader{
            display: none;
            @include mobile{
                width: 100%;
                position: absolute;
                height: 5px;
                background-color: #f2f2f2;
                bottom: 0;
                left: 0;
                display: block;
            }
            .progress{
                background-color: #ffffff;
                position: absolute;
                left: 0;
                z-index: 10;
                height: 100%;
                transition: all 0.3s ease;
                width: 100%;
                border-radius: 0px 10px 10px 0px;
                @include keyframes(arrowProgress){
                    0%{
                        transform: translateX(-100%);
                        opacity: 1;
                    }
                    100%{
                        transform: translateX(0%);
                        opacity: 0;
                    }
                }
                @include animate(arrowProgress, 6s, linear, 1);
                background-color: $red;
            }
        }
    }
}