@use '../abstracts/' as *;

.deals{
    padding-block: 10vh;
    background-color: $bodyBg;
    @include mobile{
        height: auto;
        padding-top: 0;
        padding: 20px;
    }
    &-title{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        margin-top: 1rem;
        width: 100%;
        @include mobile{
            font-size: 2rem;
            text-align: center;
        }
    }
    &-subtitle{
        font-size: 1rem;
        font-weight: 400;
        width: 80%;
        opacity: 0.7;
        margin-top: 1rem;
        @include mobile{
            font-size: 1rem;
            text-align: center;
            width: 100%;
            padding-inline: 10%;
            margin-bottom: 20px;
        }
    }
    &-slide{
        background-color: $white;
        border-radius: 20px;
        border: 10px solid $white;
        width: fit-content;
        box-shadow: 0px 0px 25px #25252520;
        position: relative;
        overflow: hidden;
        min-height: 300px;
        width: 85%;
        margin-inline: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease-in-out;
        @include mobile{
            width: 100%;
            margin-top: 20px;
            border-width: 5px;
        }
        h4{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            height: 50%;
            background-image: linear-gradient(#00000000, #252525);
            color: $white;
            font-size: 1.3rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: all 0.5s ease-in-out;
        }
    }
    &-tiles{
        width: 100%;
        &-track{
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            @include mobile{
                width: 135%;
                padding-inline: 20px;
            }
        }
        @include mobile{
            width: calc(100% + 60px);
            overflow-x: scroll;
            margin-inline: -30px;
        }
        &-tile{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            h3{
                width: 100%;
                text-align: center;
                font-size: 1rem;
                line-height: 1.1rem;
                margin-top: 1rem;
                @include mobile{
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            &-image{
                border: 3px solid $primary !important;
                border-radius: 50% !important;
            }
            &:hover{
                border-radius: 10px;
                background-color: $white;
            }
        }
    }
    &-explore{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        &-button{
            height: 3rem !important;
        }
    }
}