@use '../abstracts/' as *;

.footer{
    position: relative;
    height: 60vh;
    &-bg{
        min-height: 100vh;
        background-image: url(../../assets/images/footerbg.jpg);
        background-size: cover;
        background-position: bottom center;
        position: relative;
        z-index: 0;
        &-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, $white, transparent, transparent, #84C4D650,#84C4D6);
        }
    }
    &-top{
        width: 100%;
        padding-block: 0vh 5vh;
        background-color: #A8CEBB;
        position: relative;
        &::before{
            width: 120%;
            left: -10%;
            right: -10%;
            content: "";
            height: 10vh;
            background-color: #A8CEBB;
            border-radius: 50% 50% 0% 0%;
            position: absolute;
            top: -9vh;
        }
    }
    &-bottom{
        background-color: #90CCA8;
        backdrop-filter: blur(5px);
        padding: 20px;
        color: $white;
        font-size: 0.8rem;
        &-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }
    &-logo{
        width: 100%;
        object-fit: contain;
        filter: brightness(10);
    }
    &-link{
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        gap: 5px;
        li{
            a{
                width: fit-content;
                color: $white;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 15px;
            color: $white;
        }
    }
    &-socials{
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-top: 1rem;
        i{
            font-size: 1.5rem;
            color: $white;
        }
    }
    &-cta{
        &-call{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 600;
            i{
                color: $white;
                margin-right: 1rem;
                text-shadow: 0px 0px 15px #117fe67c;
            }
            span{
                color: #117fe6;
            }
        }
    }
    &-copyright{
        color: $white;
    }
}