@use '../abstracts/' as *;

header{
    width: 100%;
    height: 8vh;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    z-index: 100;
    &.light{
        &.other{
            color: $black !important;
        }
    }
    @include mobile{
        height: 10vh;
        padding-top: 2vh;
    }
    .navbar{
        &-container{
            padding-inline: 3%;
            border-radius: 30vh;
            background-color: $white;
            box-shadow: 0px 0px 25px #00000020;
            width: 1420px;
            margin-inline: auto;
            @media screen and (max-width: 575px) {
                width: 92%;
                background-color: transparent;
                box-shadow: none;
            }
            @media screen and (min-width: 576px) {
                width: 540px;
            }
            @media screen and (min-width: 768px) {
                width: 720px;
            }
            @media screen and (min-width: 992px) {
                width: 960px;
            }
            @media screen and (min-width: 1200px) {
                width: 1240px;
            }
            @media screen and (min-width: 1400px) {
                width: 1420px;
            }
        }
        width: 100%;
        position: relative;
        height: 100%;
        padding-block: 0.5vh;
        &-mobile-btn{
            width: fit-content;
            padding: 3px;
            font-size: 2rem;
            line-height: 1.1rem;
            color: $primary;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            &:hover{
                transform: scale(1.05);
            }
            display: none;
            @include mobile{
                display: block;
            }
        }
        &.light{
            color: $black;
            a{
                color: $black;
                &:hover{
                    color: $black;
                }
            }
        }
        &.dark{
            color: $black;
            .navbar{
                &-menu{
                    &-item{
                        a{
                            color: $black;
                            height: 100%;
                        }
                        .dropdown{
                            &-title{
                                &::after{
                                    border-color: $black;
                                }
                            }
                            &-list{
                                li{
                                    a{
                                        color: $white;
                                    }
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                &-logo{
                    filter: brightness(0);
                }
            }
        }
        &-logo{
            width: 90%;
            margin-top: 10px;
            margin-block: auto;
            @include mobile{
                width: 100%;
                margin-top: 0px;
                height: 100%;
            }
            &-link{
                @include mobile{
                    @include flex(center);
                    height: 100%;
                    background-color: $white;
                    margin-inline: -15px;
                    padding-inline: 15px;
                    padding-block: 5px;
                    border-radius: 30px;
                }
            }
        }
        &-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-block: auto;
            height: 100%;
            @include mobile{
                display: none;
            }
            &-mobile{
                &-item{
                    background-color: transparent;
                    box-shadow: none;
                    border: none;
                    &.active{
                        background-color: #00000050;
                        color: $white;
                    }
                }
            }
        }
        &-user{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            align-items: center;
            position: relative;
            &-favourites{
                font-size: 1.5rem;
                line-height: 1.5rem;
                padding: 0;
                margin-right: 1rem;
                border: none;
                outline: 0;
                box-shadow: none;
                position: relative;
                &:hover{
                    i{
                        color: $red;
                    }
                }
                &-badge{
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    font-size: 0.8rem;
                    line-height: 0.8rem;
                    height: 20px;
                    width: 20px;
                    font-weight: 400;
                    color: $white;
                    background-color: $red;
                    @include flex(center);
                    border-radius: 50%;
                }
            }
            &-mobile{
                background-color: transparent;
                width: 30px;
                height: 30px;
                padding: 0;
                border: none;
                box-shadow: none;
                font-size: 25px;
                color: $white;
                text-align: right;
                margin-left: 10px;
            }
        }
    }
}