@use '../abstracts/' as *;

.locations{
    .ant-tabs-tab{
        font-size: 1rem;
        &-active{
            border-bottom: 2px solid $red;
        }
    }
    height: auto;
    padding-bottom: 100px;
    width: 100%;
    padding: 40px;
    &-title{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        margin-top: 1rem;
        width: 30%;
        @include mobile{
            font-size: 1.6rem;
        }
    }
    &-subtitle{
        font-size: 1rem;
        font-weight: 400;
        width: 50%;
        opacity: 0.7;
        margin-top: 1rem;
        @include mobile{
            font-size: 1rem;
        }
    }
    &-property{
        width: 100%;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        height: 50vh;
        &-background{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        &-content{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 35%;
            background-color: #000000A0;
            backdrop-filter: blur(8px);
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                color: $white;
                font-size: 1.3rem;
                line-height: 1.5rem;
            }
            &-price{
                color: $white;
                font-size: 1rem;
                span{
                    font-size: 1.5rem;
                }
            }
            &-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    color: $white;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    padding: 0;
                    font-size: 1rem;
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
        &-favourite{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            background-color: #000000B0;
            border-radius: 50%;
            cursor: pointer;
            @include flex();
            i{
                color: $white;
                font-size: 1rem;
            }
        }
    }
    .swiper-button-next{}
}