@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#globalLoader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $mainBg;
    transition: all 1s linear;
    @include flex(center, center)
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

body {
    font-family: $fontFamily !important;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

h1,h2,h3,h4,h5{
    font-family: $fontFamily;
    font-weight: unset;
}

.mb {
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.container{
    width: 1320px;
    margin-inline: auto;
    @media screen and (max-width: 575px) {
        width: 100%;
    }
    @media screen and (min-width: 576px) {
        width: 540px;
    }
    @media screen and (min-width: 768px) {
        width: 720px;
    }
    @media screen and (min-width: 992px) {
        width: 960px;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
    @media screen and (min-width: 1400px) {
        width: 1320px;
    }
}

.title {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.txt-success {
    color: $green;
}

.txt-danger { 
    color: $primary;
}

//backgrounds
.bg-white{
    background-color: $white;
}

.bg-black{
    background-color: $black !important;
}

.bg-green{
    background-color: $green !important;
}

.bg-blue{
    background-color: $blue !important;
}

.bg-purple{
    background-color: $purple !important;
}

.d-only{
    display: block;
    @include mobile{
        display: none !important;
    }
}

.m-only{
    display: none !important;
    @include mobile{
        display: block !important;
    }
}